<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>All Links</h3>
    <p><a href="/links/new">Add New Link</a></p>
    <ul>
      <% for (let link of links) {%> <% console.log('Links: ' + link.title); %>
      <li><a href="/links/<%= link.id %>"><%= link.title %></a></li>
      <li><%= link.description %></li>
      <% } %>
    </ul>
  </body>
</html>
