<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=h1, initial-scale=1.0" />
    <title>Link Page</title>
  </head>
  <body>
    <h1><%= link.title %></h1>
    <a href="<%= link.url %>"><%= link.url %></a>

    <a href="/links">All Links</a>
  </body>
</html>
